/* Sticky footer styles
------------------------------------------------ */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Set the bottom margin to the footer height */
  margin-bottom: 90px;
}

body > .container {
  padding: 60px 0 0 0;
}

.padded {
  padding-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; /* Set the fixed height of the footer here. */
  background-color: #f5f5f5;
  padding-top: 20px;
}